# Server Configuration
PORT=5000
NODE_ENV=development

# Database Secrets
DATABASE_URL=postgresql://neondb_owner:npg_08TZdDfoAEKC@ep-fancy-union-aqgvuckw-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# JSON Web Token Secret Key
JWT_SECRET=ultra_ultra_ultra888dashboard

# Admin Root Setup Defaults
ADMIN_EMAIL=admin@company.com
ADMIN_PASSWORD=admin123